html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}

.wrapper{
    min-height: 100%;
    position: relative;
}

.pageheader {
    /*position: absolute;*/
    /*height: 100%;*/
    /*left: 25%;*/
    /*right: 25%;*/
    /*text-align: center;*/
    height: 50px;
    padding: 10px;
    text-align: center;
}

/*.SearchBar {*/
/*    !*padding:20px;*!*/
/*    alignment: center;*/
/*}*/

.content {
    /*position: absolute;*/
    alignment: center;
    padding-left: 15%;
    padding-right: 15%;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 70px;
    text-align: center;
}

li {
    list-style-type: none;
}

.SearchBar input {
    /*position: absolute;*/
    width: 60%;
    top: 40%;
    left: 35%;
    right: 35%;
    alignment: center;
}

.conference_item {
    border-style: groove;
    border-color: dodgerblue;
    border-bottom: none;
    border-left: none;
    border-right: none;
    /*border-bottom: aliceblue;*/
}

/*#form-control{*/
/*    position: center;*/
/*    !*width: 50%;*!*/
/*    alignment: center;*/
/*}*/

.footer {
    /*position:relative;*/
    /*bottom:0;*/
    /*width:100%;*/
    /*text-align:right;*/
    height: 70px;
    width: 100%;
    text-align: center;
    bottom: 0;
    position: absolute;
}